
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>&nbsp;</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header">
                    <h1 class="page-header">Edit Request</h1>
                    @*<small><b>Status: </b>New</small>*@
                    <b>Status: </b>New
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="input-heading">Lecturer</label>
                            <select class="form-control">
                                <option disabled selected>Select Lecturer</option>
                                <option>John Doe</option>
                                <option>Alex Brown</option>
                                <option>Jon Snow</option>
                                <option>Kanye West</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="input-heading">Reviewer</label>
                            <select class="form-control">
                                <option disabled selected>Select Lecturer</option>
                                <option>John Doe</option>
                                <option>Alex Brown</option>
                                <option>Jon Snow</option>
                                <option>Kanye West</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="input-heading">Student</label>
                            <select class="form-control">
                                <option disabled selected>Select Lecturer</option>
                                <option>John Doe</option>
                                <option>Alex Brown</option>
                                <option>Jon Snow</option>
                                <option>Kanye West</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label class="input-heading">Tema Lv</label>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="LV Title"></textarea>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="input-heading">Tema Eng</label>
                            <textarea class="form-control" placeholder="Eng Title"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">

                    <div class="pull-left">
                        <button type="button" class="btn btn-warning">Need Improvements</button>
                        <button type="button" class="btn btn-danger">Refuse</button>
                        <a href="@Url.Action("Index","Request")" class="btn btn-default">Cancel</a>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-success">Accept Student</button>
                        <button type="button" class="btn btn-success">Create Theme</button>
                    </div>

                    
                </div>


            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
