label.input-heading {
    /*background-color: rgba(140, 142, 4, 0.85);
    width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 0px;
    font-size: large;
    color: white;
    text-align: center;
    margin-top: 15px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;*/
}